:root {

  --rl-color-primary: #0A5FFF;
  --rl-color-secondary: #12284C;
  --rl-color-success: #00B96B;

  --rl-space-xs: 4px;
  --rl-space-sm: 8px;
  --rl-space-md: 16px;
  --rl-space-lg: 24px;

  --rl-radius-sm: 4px;
  --rl-radius-md: 8px;

  --rl-font-family:
    Inter,
    Arial,
    sans-serif;
}
